name: Ruby

on:
  workflow_dispatch:
  pull_request:
    branches: [ main, master ]
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['2.4']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Run tests with coverage
      run: bundle exec rake test
    - name: Upload coverage to Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: coverage-report-${{ matrix.ruby-version }}
        path: coverage

  quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.4
        bundler-cache: true
    - name: Install dependencies
      run: bundle install
    - name: Run quality checks
      run: bundle exec rake quality
    - name: Run RuboCop
      run: bundle exec rubocop
